/*-----------------
	14. Dashboard
-----------------------*/

.dash-widget-icon {
    align-items: center;
    display: inline-flex;
    font-size: 1.875rem !important;
    height: 50px;
    justify-content: center;
    line-height: 48px;
    text-align: center;
    width: 50px;
    border: 3px solid;
    border-radius: 50px;
    padding: 28px;
}
.location {
    font-size: 1rem;
    margin-left: auto;
    color: #bdbdbd;
}
.dash-widget-info h3 {
    margin-bottom: 10px;
}
.dash-widget-header {
    align-items: center;
    display: flex;
    margin-bottom: 15px;
}
.card-chart .card-body {
    padding: 8px;
}
#morrisArea > svg,
#morrisLine > svg {
    width: 100%;
}
.activity-feed {
    list-style: none;
    margin-bottom: 0;
    margin-left: 5px;
    padding: 0;
}
.activity-feed .feed-item {
    border-left: 2px solid #e4e8eb;
    padding-bottom: 19px;
    padding-left: 20px;
    position: relative;
}
.activity-feed .feed-item:last-child {
    border-color: transparent;
    padding-bottom: 0;
}
.activity-feed .feed-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -7px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #177dff;
}
.activity-feed .feed-item .feed-date {
    display: block;
    position: relative;
    color: #777;
    text-transform: uppercase;
    font-size: 13px;
}
.activity-feed .feed-item .feed-text {
    color: #777;
    position: relative;
}
.activity-feed .feed-item .feed-text a {
    color: #333;
    font-weight: 600;
}

/* Additional styles */

.add-box {
    display: block;
    width: 100%;
    height: 110px;
    text-align: center;
}

.add {
    font-size: 5rem;
}

.pharmacy-name {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0.5rem;
}
.sub-body {
    padding: 1rem !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.subscription {
    display: flex;
    height: 3rem;
    align-items: center;

    border-bottom: 1px solid #f0f0f0;
}
.sub-first {
    margin-right: 0.5rem;
}

.chart {
    width: 100%;
    height: 15rem;
    text-align: center;
}
.chart img {
    width: 60%;
    margin: 0 auto;
    height: 100%;
}

.select2-container--default .select2-selection--single {
    height: 50px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    top: 10px !important;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 42px;
}

/* Subscription */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: #343a40 !important;
}
.card .sub-card {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
}

.card .card-body .sub-info {
    width: 100%;
    padding: 0 0 0 1.5rem;
    margin: 0 auto;
    display: flex;
}

/* .role-select {
    border: none !important;
} */

.add-modal {
    padding-right: 0 !important;
}

.avatar-block {
    border-radius: 50% !important;
    border: 1px solid rgb(204, 203, 203) !important;
}

.workspaces .doctor-img {
    flex: 0 0 250px !important;
    width: unset !important;
}

.custom-switch {
    min-height: 2rem !important;
}
.custom-switch label {
    height: 100% !important;
}

/*-----------------
	6. Toggle Button
-----------------------*/

.check {
    display: block;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: absolute;
}
.checktoggle {
    background-color: #fffdfd;
    border: 1px solid rgb(226, 225, 225);
    border-radius: 12px;
    cursor: pointer;
    display: block;
    color: black;
    font-size: 10px;
    height: 24px;
    margin-bottom: 0;
    position: relative;
    width: 48px;
}
.checktoggle:after {
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(5px, -50%);
    width: 16px;
    height: 16px;
    background-color: #777;
    border-radius: 50%;
    transition: left 300ms ease, transform 300ms ease;
}
.check:checked + .checktoggle {
    border-color: #007bff;
    background-color: #007bff;
}
.check:checked + .checktoggle:after {
    background-color: #fff;
    left: 100%;
    transform: translate(calc(-100% - 5px), -50%);
}

.requirements {
    flex-direction: column;
}

.requirements h5,
.requirements p {
    margin-bottom: 0 !important;
    padding-left: 1.5rem;
}
.social-icon {
    font-size: 1.2rem !important;
    margin-right: 1rem !important;
    color: gray !important;
}

.social p {
    margin-bottom: 0 !important;
}

.social a {
    color: #007bff;
}
.social-button {
    width: 8rem !important;
    margin: 0.4rem 0;
}

.social div {
    display: flex;
}

.bill {
    display: flex;
    flex-direction: column;
}

.payment-btn {
    border: 1px solid rgb(206, 205, 205) !important;
}

.permission-btn {
    width: 100% !important;
    text-align: start !important;
}
.medicine-check {
    margin-top: -0.7rem !important;
}

.add-medicine a {
    color: inherit;
}
.custom-select-sm {
    min-height: 46px !important;
    margin-bottom: 10px !important;
}
.contra {
    margin-bottom: 10px !important;
}
.disease-data {
    border-right: 1px solid rgb(226, 225, 225);
}
.btn.btn-danger.trash {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 46px;
    width: 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
}

.booking-doc-info {
    display: flex;
    flex-direction: column;
}
.disabled {
    cursor: not-allowed !important;
}
.dashboard-menu a {
    width: 90% !important;
}

.first {
    background-color: #4dd0e1 !important;
    border: 1px solid #4dd0e1 !important;
}
.second {
    background-color: #03a9f4 !important;
    border: 1px solid #03a9f4 !important;
}
.notif {
    margin-top: 0.5rem;
    border-bottom: 1px solid rgb(245, 244, 244);
}

.notif-badge {
    height: 1.1rem;
}

.minmaxCon {
    height: 45px;
    bottom: 10px;
    left: 20%;

    position: fixed;
    right: 1px;
    z-index: 9999;
}

.modal-control {
    width: 70px;
    height: 60px;
}
.end {
    background-color: transparent !important;
    color: #a0a0a0 !important;
    font-size: 19px !important;
}
.custom-modal.minimize {
    background-color: #ffffff;
    border-radius: 50%;
    color: #ffffff;
    font-size: 17px;
    height: 20px;
    line-height: 15px;
    opacity: 1;
    padding: 0;
    position: absolute;
    right: 30px !important;
    top: 26px;
    width: 20px;
    z-index: 99;
}
.minimize {
    margin: 5px 0 0 0;
    position: absolute;
    border: none !important;
    outline: none !important;
    background-color: transparent;
    right: 38px !important;
    top: 20px;
    color: transparent;
}
.minimize span {
    background-color: transparent;
    padding: 0 5px;
    color: #a0a0a0;
}
.min {
    width: 250px;
    height: 45px;
    overflow: hidden !important;
    padding: 0px !important;
    margin: 0 5px 0 2px;
    border-radius: 4px;
    border: 1px solid rgb(184, 182, 182);
    float: left;
    position: static !important;
}
.min .modal-dialog,
.min .modal-content {
    height: 100%;
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
}

.min .modal-header {
    height: 100%;
    width: 100%;
    margin: 0px !important;
    padding: 3px 5px !important;
}
.min .modal-header .close {
    top: 10px !important;
    font-size: 22px !important;
    right: 0 !important;
}
.min .fa {
    font-size: 14px;
}

.min .menuTab {
    display: none;
}
.display-none {
    display: none;
}

.modal-open .main-wrapper {
    -webkit-filter: none !important;
    filter: none !important;
}
.modal .assessment {
    max-width: 70% !important;
}
.minmaxCon .modal .assessment {
    max-width: 100% !important;
}
.dash-modal .modal-content {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;
}
.search-form {
    width: 60%;
}
.search {
    outline: none !important;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(172, 170, 170);
    padding: 0 5px;
    width: 90%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.search-btn {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.plus-more {
    margin-left: 10% !important;
}

.row .open {
    width: 100%;
    text-align: start;
    padding-left: 1.8rem;
    border-bottom: 1px solid rgb(245, 242, 242);
    color: black;
    text-transform: uppercase;
    font-weight: 550;
}
.assessment-title {
    font-weight: 600;
}
.pres {
    color: white;
}

select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px;
}

select.list-dt:focus {
    border-bottom: 2px solid skyblue;
}

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative;
}

.fs-title {
    font-size: 25px;
    color: #2c3e50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: #000000;
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative;
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f023";
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007";
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f09d";
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c";
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

#progressbar li:after {
    content: "";
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: skyblue;
}

.radio-group {
    position: relative;
    margin-bottom: 25px;
}

.radio {
    display: inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px;
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

.fit-image {
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 480px) {
    .dashboard-menu {
        margin-right: 0.75rem;
    }
    .dashboard-menu a {
        width: 100% !important;
    }
}
